[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
madeira_tools = {path = ".",editable=true}

[packages]
madeira_tools = {path = "."}

[requires]
python_version = "3.8"
